.container{
    width: 500px;
    padding: 40px;
    display: flex;
    justify-content: center;
    row-gap: 20px;
    flex-direction: column;
    margin: 100px auto 0;
    background-color: rgb(253, 248, 255);
    border-radius: 16px;

}