.container{
    width: 500px;
    padding: 40px;
    display: flex;
    justify-content: center;
    row-gap: 20px;
    flex-direction: column;
    margin: 100px auto 100px;
    box-shadow: 0px 4px 9px 4px #efefef;
    border-radius: 16px;

}